@use "sass:map";

.with-sidebar {
  .sidebar {
    margin-top: 1rem;
    padding-left: 1.875rem;

    .article-details {
      background-color: map.get($shared-colors, 'space-blue');
      box-shadow: -5px -5px 24px -4px rgba(map.get($shared-colors, 'light-gray'), .56);
      padding: 1.5rem;

      h5,
      h6,
      p {
        color: map.get($shared-colors, 'light-gray');
      }
    }
  }
}

.primary-content {
  article {
    margin-left: 1rem;
  }

  blockquote {
    @include body-large;

    p {
      @include body-large;
    }
  }
}

@media only screen and (min-width: map.get($custom-breakpoints, 'mlarge')) {
  .with-sidebar {
    .sidebar {
      margin-top: -5rem;
    }
  }
}

@media only screen and (min-width: map.get($custom-breakpoints, 'xlarge')) {
  .primary-content {
    article {
      ul,
      ol {
        font-size: map.get($font-sizes, 'medium');
      }
    }
  }
}

@media only screen and (min-width: map.get($custom-breakpoints, 'xxlarge')) {
  .primary-content {
    @include xy-grid-container(85rem, 1.875rem);

    article {
      margin-left: 0;
    }
  }
}
