.social {
  line-height: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    font-size: map-get($font-sizes, 'xlarge');

    &:link,
    &:visited {
      color: map-get($shared-colors, 'white');
    }
  }
}
