.header-default-search {
  display: none;
}

.header-default-search-mobile {
  border: solid 2px map-get($shared-colors, 'white');
  height: 44px;
  margin: 0 auto;
  position: relative;
  width: 80%;

  button {
    background: none;
    height: 44px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 30px;
  }

  .searchbox-input {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: map-get($shared-colors, 'white');

    &::placeholder {
      color: map-get($shared-colors, 'white');
    }

    &:focus {
      background: transparent;
    }
  }

  .searchbox-submit {
    color: map-get($shared-colors, 'white');
    position: absolute;
    right: 33px;
    top: -2px;
  }
}

.search {
  .primary-content {
    width: 100%;
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .header-default-search {
    @include flex;
    background-color: map-get($shared-colors, 'white');
    margin: 0;
    padding-left: 10px;
    width: auto;
  }

  .search-form {
    border: 1px solid map-get($shared-colors, 'light-gray');
    box-shadow: inset 0 1px 2px rgba(map-get($shared-colors, 'black'), .1);
    display: flex;
    width: 250px;
  }

  .top-bar {
    .input-group-field {
      border: 0;
      box-shadow: none;
      font-size: map-get($font-sizes, 'xsmall');
      height: 1.55rem;
      margin: 0;

      &::placeholder {
        color: map-get($shared-colors, 'light-gray');
      }
    }
  }
}
